<html>
  <head>
    <title>Exercise Tracker | freeCodeCamp</title>
    <link rel="shortcut icon" href="https://cdn.freecodecamp.org/universal/favicons/favicon.ico" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css" />
    <link href="style.css" rel="stylesheet" type="text/css" />
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
  </head>
  <body>
    <div class="container mt-5">
      <h1 class="text-center">Exercise Tracker</h1>
      <form action="/api/users" method="post" class="mt-4">
        <h2>Create a New User</h2>
        <p><code>POST /api/users</code></p>
        <div class="form-group">
          <input id="uname" type="text" name="username" class="form-control" placeholder="Username" required />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      <form action="/api/users/:_id/exercises" id="exercise-form" method="post" class="mt-4">
        <h2>Add Exercises</h2>
        <p><code>POST /api/users/:_id/exercises</code></p>
        <div class="form-group">
          <input id="uid" type="text" name=":_id" class="form-control" placeholder="User ID" required />
        </div>
        <div class="form-group">
          <input id="desc" type="text" name="description" class="form-control" placeholder="Description" required />
        </div>
        <div class="form-group">
          <input id="dur" type="number" name="duration" class="form-control" placeholder="Duration (mins)" required />
        </div>
        <div class="form-group">
          <input id="date" type="date" name="date" class="form-control" placeholder="Date (yyyy-mm-dd)" />
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      <div class="mt-4">
        <p><strong>GET user's exercise log:</strong> <code>GET /api/users/:_id/logs?[from][&amp;to][&amp;limit]</code></p>
        <p><strong>[ ]</strong> = optional</p>
        <p><strong>from, to</strong> = dates (yyyy-mm-dd); <strong>limit</strong> = number</p>
      </div>
    </div>
    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
      const exerciseForm = document.getElementById("exercise-form");

      exerciseForm.addEventListener("submit", () => {
        const userId = document.getElementById("uid").value;
        exerciseForm.action = `/api/users/${userId}/exercises`;
      });
    </script>
  </body>
</html>